html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

h1 {
	margin: 0px;
	text-align : center;
}

header { 	
 	height: 20%;
 	background-color : yellow;
 }

nav{
 	width: 20%; height: 72%;
 	background-color: orange;
 	float: left;
}

section {
 	width : 80%; height : 72%;
 	background : lightblue;
 	float: left;
 }

 footer {
 	height : 8%; 
 	background-color: plum;
	clear: left;
 }
